html {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  width: 100vw;
}

body {
  font-family: "open sans", sans-serif;
  overflow-x: hidden;
}

footer {
  background-color: #1a0530;
  color: white;
  padding: 20px 10%;
}
.dev-info {
  text-decoration: none;
  color: white;
  opacity: 0.5;
  cursor: pointer;
}
.dev-info:hover {
  color: white;
}
.none {
  display: none;
}

:root {
  --purple: rgb(46, 19, 58);
}

.hidden {
  display: none;
}

.up {
  position: fixed;
  background-color: #1a0530;
  bottom: 30px;
  right: 30px;
  border-radius: 100%;
  z-index: 200;
}

.fa-arrow-up {
  color: white;
  padding: 10px;
}

.navbar {
  padding: 10px 15%;
  height: 60px;
}

.navbar-brand {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
}

.nav-toggler {
  display: none;
}

.logo {
  height: 50px;
  width: 50px;
}

.nav-item {
  padding: 0px 15px;
}
.nav-link {
  text-transform: uppercase;
  font-weight: 800;
}

#home {
  height: 100vh;
  width: 100vw;
  justify-content: center;
  background: url(pexels-kampus-production-5940841.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.home-overlay {
  background-color: #0c021898;
  height: 100%;
  width: 100%;
}
#home h1 {
  width: 600px;
  color: white;
}

h1 {
  font-family: "Roboto Mono", monospace;
  font-weight: bolder;
  color: black;
}

#home p {
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  width: 600px;
}
.contact-btn {
  color: black;
  background-color: white;
  padding: 10px 50px;
}
.contact-btn:hover {
  background-color: rgba(0, 0, 0, 0.596);
  color: white;
}
.header-style {
  color: #ffa500;
}
.section-header {
  border-bottom: 1px solid rgb(204, 202, 202);
  padding: 10px 40px;
  position: relative;
  font-family: "jost", sans-serif;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.section-header::after {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 3px;
  width: 70px;
  left: calc(50% - 35px);
  background-color: #ffa500;
}

#services {
  background-color: #f3f5fa;
  padding: 10px 60px;
  width: 100vw;
}

.about-content {
  line-height: 2;
}

.about-quote {
  border: solid 1px #e8e8e8;
  box-shadow: 0 1px 5px rgb(0 0 0 / 10%);
  padding: 20px 40px;
  line-height: 1.5;
}

.about-quote i {
  color: #552586;
}

.about-quote p {
  color: #552586;
  font-weight: bold;
}

.services-row h1 {
  font-size: 22px;
  font-family: "jost", sans-serif;
  font-weight: 700;
}

.services-box {
  box-shadow: 0 0 25px 0 rgb(0 0 0 / 10%);
  padding: 50px 30px;
  transition: all ease-in-out 0.4s;
  position: relative;
  text-align: justify;
  height: 280px;
}

.services-box-lg {
  box-shadow: 0 0 25px 0 rgb(0 0 0 / 10%);
  padding: 50px 30px;
  transition: all ease-in-out 0.4s;
  position: relative;
  text-align: justify;
  height: 350px;
}

.service-class {
  font-size: 22px;
}
#contact {
  background-color: #1a0530;
  color: white;
  padding: 20px 10%;
}
#contact a {
  color: white;
  text-decoration: none;
}
#contact h3 {
  text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
  .nav-toggler {
    position: absolute;
    display: block;
    right: 30px;
    top: 17px;
    padding: 3px 10px;
    border: 1px solid grey;
    cursor: pointer;
    border-radius: 4px;
  }
  .mobile-nav {
    position: absolute;
    height: auto;
    width: calc(100% - 20px);
    background-color: white;
    margin: 0px 10px;
    border-top: 3px solid #ffa500;
    padding: 0px;
  }

  .mobile-nav ul {
    list-style: none;
  }
  .mobile-nav ul li {
    border-bottom: 1px solid rgb(194, 194, 194);
    margin-right: 10px;
    padding: 10px 0px;
    text-align: center;
  }
  .mobile-nav ul li a {
    text-decoration: none;
    color: #4a1e75;
    padding: 10px 0px;
  }
  .toggle-icon {
    font-size: 30px;
  }
  p {
    font-size: 16px !important;
  }
  #home {
    height: 65vh;
  }
  .navbar {
    font-size: 14px;
    padding: 0px 8px;
  }
  .nav-item {
    padding: 0px 5px;
    border: none;
  }
  .navbar-nav {
    display: none;
  }
  #home h1,
  #home p {
    width: auto;
  }
  #home p {
    text-align: justify;
  }
  .home-overlay {
    padding: 10px 5%;
  }
  #services {
    padding: 10px 5px;
  }
  .services-row h1 {
    font-size: 20px;
  }
  .services-box-lg {
    padding: 20px 30px;
  }
  .section-header {
    font-size: 20px;
  }
  .dev-info {
    font-size: 14px;
  }
  .copyright {
    font-size: 14px !important;
  }
  footer {
    padding: 10px 5%;
  }
  .services-col {
    display: none;
  }
  #contact h3 {
    font-size: 15px;
  }
  #contact p {
    font-size: 12px !important;
  }
}
