html {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  width: 100vw;
}

body {
  font-family: "open sans", sans-serif;
  overflow-x: hidden;
}

footer :nth-child(1) {
  background-color: #552586;
  color: white;
}

:root {
  --purple: rgb(46, 19, 58);
}

.hidden {
  display: none;
}

.up {
  position: fixed;
  background-color: #552586;
  bottom: 20px;
  right: 20px;
  border-radius: 100%;
  z-index: 200;
}

.fa-arrow-up {
  color: white;
  padding: 10px;
}

.navbar {
  padding: 10px 15%;
  height: 60px;
  background-color: white;
}

.navbar-brand {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
}

.logo {
  height: 50px;
  width: 50px;
}

.nav-item {
  padding: 0px 15px;
  border-right: 1px solid rgba(121, 120, 120, 0.308);
}

.nav-item:nth-child(4) {
  border-right: none;
}

.nav-link {
  text-transform: uppercase;
}

#home {
  height: 90vh;
  width: 100vw;
}

#home h1,
#home p {
  width: 400px;
}

#home h1 {
  font-family: "Roboto Mono", monospace;
  font-weight: bolder;
  color: black;
}

#home p {
  color: black;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
}

#home img {
  height: 70%;
  width: 100%;
}

.header-style {
  color: #ffa500;
}
.section-header {
  border-bottom: 1px solid rgb(204, 202, 202);
  padding: 10px 40px;
  position: relative;
  font-family: "jost", sans-serif;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.section-header::after {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 3px;
  width: 70px;
  left: calc(50% - 35px);
  background-color: #ffa500;
}

#services {
  background-color: #f3f5fa;
  padding: 10px 60px;
  width: 100vw;
}

.about-content {
  line-height: 2;
}

.about-quote {
  border: solid 1px #e8e8e8;
  box-shadow: 0 1px 5px rgb(0 0 0 / 10%);
  padding: 20px 40px;
  line-height: 1.5;
}

.about-quote i {
  color: #552586;
}

.about-quote p {
  color: #552586;
  font-weight: bold;
}

.services-row h1 {
  font-size: 22px;
  font-family: "jost", sans-serif;
  font-weight: 700;
}

.services-box {
  box-shadow: 0 0 25px 0 rgb(0 0 0 / 10%);
  padding: 50px 30px;
  transition: all ease-in-out 0.4s;
  position: relative;
  text-align: justify;
  height: 280px;
}

.services-box-lg {
  box-shadow: 0 0 25px 0 rgb(0 0 0 / 10%);
  padding: 50px 30px;
  transition: all ease-in-out 0.4s;
  position: relative;
  text-align: justify;
  height: 350px;
}

.service-class {
  font-size: 22px;
}

@media only screen and (max-width: 767px) {
  p {
    font-size: 16px !important;
  }
  #home {
    height: 65vh;
  }
  .navbar {
    font-size: 14px;
    padding: 0px 8px;
  }
  .nav-item {
    padding: 0px 5px;
    border: none;
  }
  .navbar-nav {
    display: none;
  }
  #home h1,
  #home p {
    width: auto;
  }
  #home img {
    height: 100%;
  }
  #services {
    padding: 10px 5px;
  }
  .section-header {
    font-size: 20px;
  }
}
